<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>{{ 'LOGIN.LOGIN' | translate }}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>

	<form (ngSubmit)="login()" [formGroup]="loginForm">
		<ion-list inset>
			<ion-item>
				<ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
			</ion-item>

			<ion-item>
				<ion-input [type]="passwordType" placeholder="{{ 'LOGIN.PWD' | translate }}" formControlName="password"></ion-input>
			</ion-item>
		</ion-list>

		<div padding-horizontal>
			<div class="form-error">{{loginError}}</div>
			<button ion-button full type="submit" [disabled]="!loginForm.valid">{{ 'LOGIN.LOGIN' | translate }}</button>
		</div>
	</form>

	<ion-list>
		<ion-grid>
			<ion-row>
				<ion-col class="col1">
					<button class="passwordButton" ion-button (click)="openResetPassword()">
						{{ 'LOGIN.PSWFORGOTTEN' | translate }}
					</button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-list>
</ion-content>
