
  .fond{
    background-color: #161f2d;
  }

  .logout{
    color: white;
  }

  .card{
    font-size: 120%;
    margin-right: 0.8em;
  }

  .divUser{
    padding-top: 5%;
  }

  .welcomeTextDiv{
    text-align: center;
    font-size: 36px;
    font-family: 'Manjari-Thin';
  }

  .divImage{
    padding-top: 20px;
    text-align: center;
  }

  .buttonImage{
    text-align: center;
  }

  .buttonPhoto{
    height: 25px;
    border-radius: 4px;
    background-color: grey;
    color: white;
  }

  .divInfo{
    font-size: 18px;
  }

  .user{
    border-radius: 60px;
    background-color: grey;
    height: 120px;
    width: 120px;
  }

  .listUser{
    background-color: rgba(0,0,0,0);
  }

  .item1, .item2, .item3, .item4{
    background-color: rgba(0,0,0,0);
    height: 50px;
    align-items:flex-end;
  }

  .sub{
    text-align: center;
    height: 40px;
  }

  .rowSubActive{
    text-align: center;
  }

  .colSubActive{
    text-align: center;
    margin-bottom: 20px;
  }

  .divSubActive{
    background-color: green;
    border-radius: 15px;
    height: 40px;
    text-align: center;
    padding-bottom: 40px;
  }

  .divSubInactive{
    background-color: red;
    border-radius: 15px;
    height: 40px;
    text-align: center;
    padding-bottom: 40px;
  }

  .subText{
    padding-top: 8px;
    text-align: center;
    font-size: 20px;
  }

  .unSubText{
    color: white;
    font-size: 15px;
  }

  .fyzzButton{
    padding-bottom: 20px;
    text-align: center;
    border: solid;
    border-color: white;
    border-radius: 5px;
    border-width: thick;
    width: 90%;
    margin:auto;
  }

  .subPay{
    width: 90%;
    height: 50px;
    border-radius: 6px;
    border-width: medium;
    border-style: solid;
    color: white;
    background-color: #212121;
    font-size: 18px;
  }

  .subAnnonce{
    font-size: 15px;
  }

  .buttonRed{
    width: 80%;
    height: 40px;
    border-radius: 4px;
    color: white;
    background-color: red;
    font-size: 20px;
  }

  .logOut-button{
    width: 100%;
    height: 200%;
    margin: auto;
  }

  .textNotif{
    color: black;
  }

  ion-header button, .backButton{
    z-index: 1;
  }
