<ion-header>

  <ion-navbar hideBackButton="true" color="primary">
    <ion-title>FYZZ</ion-title>
      <ion-buttons  name="person" left>
        <button ion-button icon-only (click)="openHome()">
        <ion-icon name="person"></ion-icon>
        </button>
      </ion-buttons>
      <ion-buttons name="events" right>
          <button ion-button icon-only (click)="openEventsPage()">
          <ion-icon name="ios-albums-outline" style="color: #ffd700;"></ion-icon>
          </button>
      </ion-buttons>
      <ion-buttons name="tutorial" right>
          <button ion-button icon-only (click)="openTutorial()">
          <ion-icon name="help-circle"></ion-icon>
          </button>
      </ion-buttons>
      <ion-buttons name="settings" right>
        <button ion-button icon-only (click)="openSettings()">
        <ion-icon name="more"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>



<ion-content class="contentMapPage">
  <div id="map" style="width:100%; height:100%;"></div>

  <div *ngIf="!user" class="row">
    <div class="column_full" id="first_banner" align="center" (click)="presentPrice()">
      <span>
        {{ 'MAP.INITIALFIRSTBANNER' | translate }}
        <!-- <ion-select [(ngModel)]="price">
          <ion-option>12.90CHF/mois</ion-option>
          <ion-option>34.90/3mois</ion-option>
          <ion-option>59.90CHF/6mois</ion-option>
        </ion-select> -->
        <!-- <ion-buttons *ngIf="show_price">
          <button ion-button (click)="openSignUp()">
            12.90CHF/mois
          </button>
        </ion-buttons>
        <ion-buttons *ngIf="show_price">
          <button ion-button (click)="openSignUp()">
            34.90CHF/mois
          </button>
        </ion-buttons>
        <ion-buttons *ngIf="show_price">
          <button ion-button (click)="openSignUp()">
            59.90CHF/mois
          </button>
        </ion-buttons> -->
      </span>
    </div>
  </div>


  <!-- <div *ngIf="user && data == null" class="row" (click)="openAboPage()">
    <div class="column_full" id="first_banner" align="center">
      <span>
        {{ 'MAP.FIRSTBANNER' | translate }}
      </span>
    </div>
  </div> -->

  <div *ngIf="user && data == null" class="row">
    <div class="column_full" id="signup_banner" align="center">
      <span *ngIf="isAdvSignUpActive == true" (click)="openScanner()">
        Ton scan gratuit du mois
      </span>
      <span *ngIf="isAdvSignUpActive == false" (click)="openAboPage()">
        Si tu veux profiter plus, abonne-toi!
      </span>
    </div>
  </div>

  <div *ngIf="data == 'pastDue'" class="row">
    <div class="column_full" id="inactive_banner" align="center">
      <span>
        {{ 'MAP.PASTDUE' | translate }}
      </span>
    </div>
  </div>

  <div *ngIf="data == 'active'" class="row">
    <div class="column" id="drink_banner_yes" align="center">
      <span *ngIf="data == 'active' && isDrinkActive == true">
        {{ 'MAP.DRINKAVAILABLE' | translate }}
      </span>
      <span *ngIf="data == 'active' && isDrinkActive == false">
        {{ 'MAP.DRINKUNAVAILABLE' | translate }}
      </span>
    </div>
    <div class="column" id="adv_banner_yes" align="center">
      <span *ngIf="data == 'active' && isAdvActive == true">
        {{ 'MAP.ADVAVAILABLE' | translate }}
      </span>
      <span *ngIf="data == 'active' && isAdvActive == false">
        {{ 'MAP.ADVUNAVAILABLE' | translate }}
      </span>
    </div>
  </div>



  <ion-fab class="fab_button" bottom right>
    <!-- <button ion-fab (click)="openScanner()">
      <ion-icon name="md-qr-scanner" class="icon-fab" style="color: #ffd700;"></ion-icon>
    </button> -->
    <button ion-fab (click)="openSearch()">
      <ion-icon name="ios-search" class="icon-fab"></ion-icon>
    </button>

      <!-- <ion-fab-list side="top">
        <button class="fab-bar" ion-fab (click)="openListeBar()">
          <ion-icon name="beer"></ion-icon>
       </button>
        <button class="fab-resto" ion-fab (click)="openListeRestaurant()">
          <ion-icon class="resto-fab-icon" name="ios-restaurant"></ion-icon>
        </button>
        <button class="fab-adv" ion-fab (click)="openListeAdvantage()">
          <ion-icon class="pricetags" name="pricetags"></ion-icon>
        </button>
      </ion-fab-list> -->
  </ion-fab>


  <ion-fab *ngIf="user" class="fabScanner" bottom right>
    <button ion-fab class="buttonScanner" (click)="openScanner()">
      <ion-icon name="md-qr-scanner" class="iconScanner"></ion-icon>
    </button>
  </ion-fab>
  <ion-fab *ngIf="!user" class="fabScanner" bottom right>
    <button ion-fab class="buttonScanner" (click)="openSignUpAlert()">
      <ion-icon name="md-qr-scanner" class="iconScanner"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab bottom left>
    <button color="position" ion-fab (click)="recenter()">
      <ion-icon name="ios-locate-outline" class="icon-fab"></ion-icon>
    </button>
  </ion-fab>

  <!-- <ion-fab top right>
    <button color="position" ion-fab (click)="openEventsPage()">
      <ion-icon name="ios-albums-outline" class="icon-fab"></ion-icon>
    </button>
  </ion-fab> -->



  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 100%">
      <ion-card class="discover" (click)="toggleExplore()">
        <ion-card-title color="white" text-center class="ionCardExplore">
          <!-- <ion-icon name="ios-arrow-down" *ngIf="!show_explore"></ion-icon>
          <ion-icon name="ios-arrow-up" *ngIf="show_explore"></ion-icon> -->
          {{ 'MAP.EXPLORE' | translate }}
          <ion-icon name="md-arrow-dropup" *ngIf="!show_explore" style="padding-top: 5px;"></ion-icon>
          <ion-icon name="md-arrow-dropdown" *ngIf="show_explore" style="padding-top: 2px;"></ion-icon>
        </ion-card-title>
        <ion-card-content *ngIf="show_explore">
          <ion-slides  [slidesPerView]="1.3" [centeredSlides]="true" #slides (ionSlideDidChange)="slideChanged()">
            <ion-slide *ngFor="let shop of sortedArray">
              <ion-card (click)="openPage()">
                <ion-card-title class="ionCardTitle" color="white" text-center> {{ shop.Name }} </ion-card-title>
                <img class="image" src="{{ shop.Photo }}">
              </ion-card>
              <div class="distance" *ngIf="this.isLocationEnabled == true"> {{ shop.Metric }} </div>
            </ion-slide>
          </ion-slides>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- <ion-footer class="footerScanner" (click)="openScanner()">
  <ion-grid>
    <ion-row>
      <ion-col style="text-align: center">
        <button class="footerButton" ion-button icon-only>
          <ion-icon name="md-qr-scanner" class="footerIcon"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer> -->
