page-map {

  /*.contentMapPage {
    .scroll-content{
    margin-bottom: 0;
    }
  }*/
  .footerIcon{
    color: black;
    font-size: 50px;
  }

  .fabScanner{
    margin-bottom: 65px;
  }
  .buttonScanner{
    background: linear-gradient(to left, #f24343, #03bfbf);
    text-align: center;
  }
  .iconScanner{
    font-weight: bold;
    color:black;
    font-size: 3.5rem;
  }
  .icon-fab{
    font-size: 3.5rem;
  }
}


ion-title{
  /*position: relative;
  text-align: center;*/
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  text-align: center;
}
ion-app._gmaps_cdv_ .nav-decor{
  background-color: transparent !important;
}


#map{
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
}


#first_banner{
  position: absolute;
  z-index: 2;
  top: 0px;
  padding-top: 10px;
  height: 40px;
  //left: 0px;
  background-color: #ffd700;
  color: black;
  font-family: 'Manjari-Thin';
  font-weight: bold;
}

#signup_banner{
  position: absolute;
  z-index: 2;
  top: 0px;
  padding-top: 10px;
  height: 40px;
  //left: 0px;
  color: black;
  font-family: 'Manjari-Thin';
  font-weight: bold;
}

#inactive_banner{
  position: absolute;
  z-index: 2;
  top: 0px;
  padding-top: 10px;
  height: 40px;
  //left: 0px;
  background-color: red;
  color: black;
  font-family: 'Manjari-Thin';
  font-weight: bold;
}

#drink_banner_yes{
  position: absolute;
  z-index: 2;
  top: 0px;
  padding-top: 10px;
  height: 40px;
  //left: 0px;
  color: black;
  font-family: 'Manjari-Thin';
  font-weight: bold;
}

#adv_banner_yes{
  position: absolute;
  z-index: 2;
  top: 0px;
  right: 0px;
  color: black;
  padding-top: 10px;
  height: 40px;
  font-family: 'Manjari-Thin';
  font-weight: bold;
}

.column_full{
  float: left;
  width: 100%;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.fab_button{
  //margin-right: 5px;
  //margin-bottom: 10px;
}

.fab-bar{
  text-align: center;
  background-color: black;
  color: white;
  font-size: 20px;
}

.fab-resto{
  text-align: center;
  background-color: black;
  color: white;
  font-size: 20px;
}

.fab-adv{
  text-align: center;
  background-color: black;
  color: white;
  font-size: 20px;
}

ion-icon.resto-fab-icon{
  font-size: 30px;
}

ion-icon.adv-fab-icon{
  font-size: 30px;
}

ion-card.discover{
  z-index: 2;
  position: fixed;
  //padding: 0 15%;
  background-color: black;
  //left: 0;
  bottom: 2%;
  //right: 0;
  width: 60% !important;
  border-radius: 25px;
  margin: 0 !important;
}

.ionCardExplore{
  top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-weight: bold;
  font-family: 'Manjari-Thin';
  letter-spacing: 0.0625em;
}

.ionCardTitle{
  background-color: #161f2d;
  font-size: 17px;
  font-weight: bold;
  font-family: 'Manjari-Thin';
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.distance{
  font-size: 15px;
  font-weight: bold;
  font-family: 'Manjari-Thin';
  color: white;
}

.image {
  width: 50vw;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}

#info{
  color: white;
  background-color: black;
  border-radius: 4px;
  padding: 6px;
  margin-top: 8px;
}

.divNamePopup{
  font-size: 15px;
  font-weight: bold;
}

.divAddressPopup{
  color: #9e9e9e;
}

.login{
  color: orange;
}


// .footerScanner{
//   background: linear-gradient(to left, #f24343, #03bfbf);
//   width: 100%;
//   height: 7%;
//   //margin-left: 10%;
//   border-radius: 20px;
//   //margin-bottom: 1%;
// }
// .footerButton{
//   background-color: rgba(0, 0, 0, 0);
//   box-shadow: none;
// }

.action-sheet-md{
  overflow: hidden;
  .action-sheet-group{
    background-color: #161f2d;
    display: inline-table;
  }.action-sheet-button{
    color: white;
  }
}
