// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #000000,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  white:      #ffffff,
  grey-dark:  #191919,
  green-radio:green
);


@font-face{
  font-family: 'Manjari-Thin';
  src:url("../assets/fonts/Manjari-Thin.ttf");
}
@font-face{
  font-family: 'Montserrat-Regular';
  src:url("../assets/fonts/Montserrat-Regular.ttf");
}

ion-title{
  text-align: center;
  position: relative;
  font-family: 'Manjari-Thin';
  margin-top: 3.5px;
  font-weight: 400;
  font-size: 0.5rem;
  letter-spacing: 6px;
}

body, span, button, h1, h2, h3, h4, h5, h6, p, ion-item, ion-grid, ion-list, .divNamePopup, .divAddressPopup{
font-family: 'Montserrat-Regular' !important;
}


/*$font-family-base: 'Manjari-Thin';
$font-family-ios-base: 'Manjari-Thint';
$font-family-wp-base: 'Manjari-Thin';*/
//$font-family-md-title: 'Manjari-Thin';

//$background-color: #282e44;

ion-footer{
  height: 9%;
}


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
// $card-ios-text-color(#ffff);




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
ion-loading.my-loading-class {
  stroke: orange;
  .loading-wrapper {
    background: transparent;
    box-shadow: none;
  }
}

// $card-md-text-color(#ffff);
// $card-wp-text-color(#ffff);


// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.dark";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
