<!--
  Generated template for the TutorialPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'TUTORIAL.TITLEPAGE' | translate }}</ion-title>
    <!--<ion-buttons name="skip" right>
        <button ion-button icon-only (click)="skipTutorial()">
        {{ 'TUTORIAL.SKIP' | translate }}
        </button>
      </ion-buttons>-->
  </ion-navbar>
</ion-header>


<ion-content padding no-bounce>

    <ion-slides pager="true">
        <ion-slide>
          <!--<ion-buttons name="skip" right>
              <button class="skipButton" ion-button icon-only (click)="skipTutorial()">
              {{ 'TUTORIAL.SKIP' | translate }}
              </button>
            </ion-buttons>-->
            <img src="../assets/imgs/tutorial/tutostep1.png"/>
          <h2>{{ 'TUTORIAL.TITLESTEP1' | translate }}</h2>
            <p>{{ 'TUTORIAL.STEP1' | translate }}</p>
            <p>{{ 'TUTORIAL.STEP11' | translate }}</p>
            <p class="abos">{{ 'TUTORIAL.STEP12' | translate }}</p>
            <p class="abos">{{ 'TUTORIAL.STEP13' | translate }}</p>
            <p class="abos">{{ 'TUTORIAL.STEP14' | translate }}</p>
        </ion-slide>

        <ion-slide>
            <img src="../assets/imgs/tutorial/tutostep2.png"/>
          <h2>{{ 'TUTORIAL.TITLESTEP2' | translate }}</h2>
          <p class="iosDrinkstype">{{ 'TUTORIAL.STEP2' | translate }}</p>
          <p class="pDrink">{{ 'TUTORIAL.STEP21' | translate }}</p>
          <p class="pDrink">{{ 'TUTORIAL.STEP22' | translate }}</p>
          <p class="pDrink">{{ 'TUTORIAL.STEP23' | translate }}</p>
          <p class="pAdv">{{ 'TUTORIAL.STEP24' | translate }}</p>
        </ion-slide>

        <ion-slide>
            <img src="../assets/imgs/tutorial/tutostep3.png"/>
            <h2>{{ 'TUTORIAL.TITLESTEP3' | translate }}</h2>
            <p>{{ 'TUTORIAL.STEP3' | translate }}</p>
        </ion-slide>

        <ion-slide>
              <img src="../assets/imgs/tutorial/tutostep4.png"/>
            <h2>{{ 'TUTORIAL.TITLESTEP4' | translate }}</h2>
            <p>{{ 'TUTORIAL.STEP4' | translate }}</p>
              <!--<ion-buttons (click)="skipTutorial()">
                <button ion-button color="light" (click)="skipTutorial()"> {{ 'TUTORIAL.END' | translate }}
                </button>
              </ion-buttons>-->
        </ion-slide>

        <ion-slide>
            <img src="../assets/imgs/tutorial/tutostep1.png"/>
          <h2>{{ 'TUTORIAL.TITLESTEP5' | translate }}</h2>
            <p>{{ 'TUTORIAL.STEP5' | translate }}</p>

            <ion-buttons *ngIf="userExist == false">
              <button class="signup" ion-button color="light" (click)="goSignup()"> {{ 'TUTORIAL.SIGNUP' | translate }}
              </button>
            </ion-buttons>

            <ion-buttons *ngIf="userExist == true">
              <button class="signedup" ion-button color="light" (click)="skipTutorial()"> {{ 'TUTORIAL.SIGNEDUP' | translate }}
              </button>
            </ion-buttons>

            <ion-buttons *ngIf="userExist == false">
              <button class="voirApp" ion-button color="light" (click)="skipTutorial()"> {{ 'TUTORIAL.VOIRAPP' | translate }}
              </button>
            </ion-buttons>

        </ion-slide>

      </ion-slides>
</ion-content>
