page-reset-password {

  form {
    margin-bottom: 32px;

    button {
      margin-top: 40px;
    }
  }

  ion-label {
    margin-left: 5px;
  }

  ion-input {
    background-color: #161f2d;
    padding: 5px;
  }

  .invalid {
    border-bottom: 1px solid #ff6153;
  }

  .errorM {
    color: #FF4747;
    padding-top: 2px;
  }
}

.navbar{
  color: black;
}

.content{
  background-color: #161f2d;
}

.item-md {
  background-color: #161f2d;
}

.item-ios{
  background-color: #161f2d;
}
