<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>{{ 'LOGIN.CONNECTION' | translate }}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>

	<div class="login-footer">
		<p class="parag">
			{{ 'LOGIN.USER' | translate }}
		</p>
	</div>
  <ion-grid>
    <ion-row>
      <ion-col class="col1">
        <button class="loginButton" ion-button icon-left (click)="openLogin()">
          <ion-icon name="person"></ion-icon>
          {{ 'LOGIN.LOGIN' | translate }}
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>


	<ion-list>
		<div class="login-footer">
			<p class="parag">
				{{ 'LOGIN.NEWUSER' | translate }}
			</p>
		</div>
		<ion-grid>
			<ion-row>
				<ion-col class="col1">
					<button class="signupButton" ion-button icon-left (click)="openSignUp()">
						<ion-icon name="person-add"></ion-icon>
						{{ 'LOGIN.REGISTER' | translate }}
					</button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-list>
</ion-content>
