<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar color = "primary">
		<ion-title>{{ 'SIGNUP.REGISTER' | translate }}</ion-title>
	</ion-navbar>

</ion-header>

<ion-content>

	<form (ngSubmit)="signup()" [formGroup]="signupForm">
		<ion-list inset>

			<!-- lastname -->
			<ion-item [ngClass]="{'error-border':!signupForm.controls.lastname.valid && signupForm.controls.lastname.touched}">
				<ion-input type="text" placeholder="{{ 'SIGNUP.NAME' | translate }}" formControlName="lastname"></ion-input>
			</ion-item>
			<div class="divErreur" *ngIf="signupForm.controls.lastname.hasError('required') && signupForm.controls.lastname.touched">
    		{{ 'SIGNUP.NAMEERR' | translate }}
			</div>

			<!-- firstname -->
			<ion-item [ngClass]="{'error-border':!signupForm.controls.firstname.valid && signupForm.controls.firstname.touched}">
				<ion-input type="text" placeholder="{{ 'SIGNUP.SURNAME' | translate }}" formControlName="firstname"></ion-input>
			</ion-item>
			<div class="divErreur" *ngIf="signupForm.controls.firstname.hasError('required') && signupForm.controls.firstname.touched">
    		{{ 'SIGNUP.SURNAMEERR' | translate }}
			</div>

			<ion-grid radio-group formControlName="radioSexe" [ngClass]="{'error-border':!signupForm.controls.radioSexe.valid && signupForm.controls.radioSexe.touched}">
				<p style="color:grey;"> {{ 'SIGNUP.OPTIONAL' | translate }} </p>
				<ion-row class="sexeRow">
					<ion-col col-1>
						<ion-radio color="green-radio" class="sexeRadio" slot="start" mode="md" value="M"></ion-radio>
					</ion-col>
					<ion-col col-5>
						<p class="sexeText"> {{ 'SIGNUP.MAN' | translate }} </p>
					</ion-col>
					<ion-col col-1>
						<ion-radio color="green-radio" class="sexeRadio" slot="start" mode="md" value="F"></ion-radio>
					</ion-col>
					<ion-col col-5>
						<p class="sexeText"> {{ 'SIGNUP.WOMAN' | translate }} </p>
					</ion-col>
				</ion-row>
			</ion-grid>
			<!-- <div class="divErreur" *ngIf="signupForm.controls.radioSexe.hasError('required') && signupForm.controls.radioSexe.touched">
    		{{ 'SIGNUP.SEXERR' | translate }}
			</div> -->

			<!-- email -->
			<ion-item [ngClass]="{'error-border':!signupForm.controls.email.valid && signupForm.controls.email.touched}">
				<ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
			</ion-item>
			<div class="divErreur" *ngIf="signupForm.controls.email.hasError('required') && signupForm.controls.email.touched">
    		{{ 'SIGNUP.EMAILERR' | translate }}
			</div>
			<div class="divErreur" *ngIf="signupForm.controls.email.hasError('pattern') && signupForm.controls.email.touched">
    		{{ 'SIGNUP.EMAILFORMAT' | translate }}
			</div>
			<ion-item [ngClass]="{'error-border':signupForm.controls.emailConfirm.touched && signupForm.hasError('mismatchedEmails') && signupForm.controls.email.valid}">
				<ion-input type="email" placeholder="{{ 'SIGNUP.EMAILCONFIRM' | translate }}" [(ngModel)]="emailConfirm" formControlName="emailConfirm"></ion-input>
		 	</ion-item>
			<div class="divErreur" *ngIf="signupForm.controls.emailConfirm.touched && signupForm.hasError('mismatchedEmails') && signupForm.controls.email.valid">
    		{{ 'SIGNUP.EMAILCONFIRMERR' | translate }}
			</div>

			<!-- password -->
			<ion-item [ngClass]="{'error-border':!signupForm.controls.password.valid && signupForm.controls.password.touched}">
				<ion-input [type]="pwdType" placeholder="{{ 'SIGNUP.PWD' | translate }}" formControlName="password" clearOnEdit="false"></ion-input>
				<ion-icon item-end [name]="pwdIcon" class="pwdIcon" (click)='showHidePassword()'></ion-icon>
			</ion-item>
			<div class="divErreur" *ngIf="signupForm.controls.password.hasError('required') && signupForm.controls.password.touched">
    		{{ 'SIGNUP.PWDERR' | translate }}
			</div>
			<div class="divErreur" *ngIf="(signupForm.controls.password.hasError('minlength') && signupForm.controls.password.touched) || (signupForm.controls.password.hasError('pattern') && signupForm.controls.password.touched)">
    		{{ 'SIGNUP.PWDFORMAT' | translate }}
			</div>
			<!-- <div class="divErreur" *ngIf="signupForm.controls.password.hasError('pattern') && signupForm.controls.password.touched">
    		{{ 'SIGNUP.PWDPATTERN' | translate }}
			</div> -->

			<!-- birthdate -->
			<ion-item class="itemDate" [ngClass]="{'error-border':!signupForm.controls.birthdate.valid && signupForm.controls.birthdate.touched}">
				<ion-datetime class="dateTime" placeholder="{{ 'SIGNUP.BIRTHDATE' | translate }}" displayFormat="YYYY-MM-DD" [max]="minimumAge()" formControlName="birthdate" cancelText="Annuler" doneText="OK"></ion-datetime>
			</ion-item>
			<div class="divErreur" *ngIf="signupForm.controls.birthdate.hasError('required') && signupForm.controls.birthdate.touched">
    		{{ 'SIGNUP.BIRTHDATEERR' | translate }}
			</div>

			<!-- code postal -->
			<ion-item [ngClass]="{'error-border':!signupForm.controls.postalCode.valid && signupForm.controls.postalCode.touched}">
				<ion-input type="text" inputmode="numeric" placeholder="{{ 'SIGNUP.NPA' | translate }}" formControlName="postalCode"></ion-input>
			</ion-item>
			<div class="divErreur" *ngIf="signupForm.controls.postalCode.hasError('required') && signupForm.controls.postalCode.touched">
    		{{ 'SIGNUP.NPAERR' | translate }}
			</div>
			<div class="divErreur" *ngIf="signupForm.controls.postalCode.hasError('minlength') && signupForm.controls.postalCode.touched">
    		{{ 'SIGNUP.NPAFORMAT' | translate }}
			</div>
			<div class="divErreur" *ngIf="signupForm.controls.postalCode.hasError('maxlength') && signupForm.controls.postalCode.touched">
    		{{ 'SIGNUP.NPAFORMAT' | translate }}
			</div>

			<!-- city -->
			<ion-item [ngClass]="{'error-border':!signupForm.controls.city.valid && signupForm.controls.city.touched}">
				<ion-input type="text" placeholder="{{ 'SIGNUP.CITY' | translate }}" formControlName="city"></ion-input>
			</ion-item>
			<div class="divErreur" *ngIf="signupForm.controls.city.hasError('required') && signupForm.controls.city.touched">
    		{{ 'SIGNUP.CITYERR' | translate }}
			</div>

			<ion-grid>
				<ion-row>
					<ion-col col-10>
						<p class="textConditions">{{ 'SIGNUP.ACCEPTRD' | translate }}</p>
					</ion-col>
				</ion-row>
				<ion-row class="rowCheckbox">
					<ion-col col-1>
						<ion-checkbox slot="start" formControlName="checkbox1" checked="false"></ion-checkbox>
					</ion-col>
					<ion-col>
						<a class="politique" href="http://www.fyzz.ch/politique-de-confidentialite">{{ 'SIGNUP.POLICY' | translate }}</a>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-1>
						<ion-checkbox slot="start" formControlName="checkbox2" checked="false"></ion-checkbox>
					</ion-col>
					<ion-col>
						<a class="politique" href="http://www.fyzz.ch/termes-et-conditions">{{ 'SIGNUP.TERMSCO' | translate }}</a>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-list>

		<div padding-horizontal>
			<button class="signupButton" ion-button full type="submit" [disabled]="!signupForm.valid">{{ 'SIGNUP.REGISTERING' | translate }}</button>
		</div>
	</form>
</ion-content>
