page-signup {

  .content{
    background-color: #161f2d;
  }
  .divErreur{
    color: #FF4747;
    padding-top: 2px;
  }

  .eyeIc{
    color: white;
  }

  .pwdIcon {
    font-size: 2.8rem !important;
    position: relative !important;
  }

  .itemDate{
    padding-left: 0px;
  }

  .dateTime{
    padding-left: 7px;
  }

  .item{
    background-color: rgba(0, 0, 0, 0);
  }

  .sexeRow{
    margin-top: -20px;
    height: 50px;
  }

  .sexeRadio{
    padding-top: 18px;
  }

  .sexeText{
    color:grey;
    font-size: 16px;
  }

  .radio .radio-checked{
    border-color: #ffd700;
    .radio-inner{
      background-color: #ffd700;
    }
  }

  .textConditions{
    color:grey;
    font-size: 16px;
  }

  .rowCheckbox{
    padding-bottom: 5px;
  }

  .checkbox{
    .checkbox-icon{
      height: 20px;
      width: 20px;
      background-size: 20px;
      .checkbox-inner{
        width: 7px;
        height: 13px;
      }
      &.checkbox-checked{
        border-color: green;
      }
    }
  }

  .politique{
    margin-left: 10px;
    color: grey;
    font-size: 16px;
  }

  .signupButton{
    margin-bottom: 40px;
  }

}

.picker-md .picker-wrapper,
.picker-md .picker-toolbar{
  background-color: #232a35;
}

.picker-ios .picker-wrapper,
.picker-ios .picker-toolbar{
  background-color: #232a35;
}

.picker-md .picker-button,
.picker-md .picker-button.activated {
  color: #ffffff;
}

.picker-md .picker-prefix,
.picker-md .picker-suffix,
.picker-md .picker-opt.picker-opt-selected {
  color: #ffd700;
}

.picker-ios .picker-button,
.picker-ios .picker-button.activated {
  color: #ffffff;
}

.picker-ios .picker-prefix,
.picker-ios .picker-suffix,
.picker-ios .picker-opt.picker-opt-selected {
  color: #ffd700;
}
