<ion-header>
  <ion-navbar color="primary">
    <ion-title> {{ 'EVENTS.EVENTS' | translate }} </ion-title>
      <ion-buttons name="settings" right>
        <button ion-button icon-only (click)="openSettings()">
          <ion-icon name="more">
          </ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content padding class="eventpage">
  <ion-grid>
    <ion-row *ngFor="let event of sortedArray">
      <ion-card *ngIf="event.IsBlur === false" class="event" (click)="openPage(event)">
        <img src="{{event.Photo}}">
        <ion-card-content>
          <ion-card-title class="eventCardTitle" text-wrap color="white" text-center>{{event.Name}}</ion-card-title>
          <p class="promotion" *ngIf="this.userLang == 'de'" text-wrap color="red" text-center>{{ event.Description_de }}</p>
          <p class="promotion" *ngIf="this.userLang == 'en'" text-wrap color="red" text-center>{{ event.Description_en }}</p>
          <p class="promotion" *ngIf="this.userLang == 'fr'" text-wrap color="red" text-center>{{ event.Description_fr }}</p>
          <p class="promotion" *ngIf="this.userLang == 'it'" text-wrap color="red" text-center>{{ event.Description_it }}</p>
          <p class="promotion" text-wrap color="red" text-center> {{ 'EVENTS.FROM' | translate }} {{ event.FormatedStartDate }} {{ 'EVENTS.TO' | translate }} {{ event.FormatedEndDate }} </p>
        </ion-card-content>
      </ion-card>
      <ion-card *ngIf="event.IsBlur === true" class="event" style="filter:blur(5px)">
        <img src="{{event.Photo}}">
        <ion-card-content>
          <ion-card-title class="eventCardTitle" text-wrap color="white" text-center>{{event.Name}}</ion-card-title>
          <p class="promotion" *ngIf="this.userLang == 'de'" text-wrap color="red" text-center>{{ event.Description_de }}</p>
          <p class="promotion" *ngIf="this.userLang == 'en'" text-wrap color="red" text-center>{{ event.Description_en }}</p>
          <p class="promotion" *ngIf="this.userLang == 'fr'" text-wrap color="red" text-center>{{ event.Description_fr }}</p>
          <p class="promotion" *ngIf="this.userLang == 'it'" text-wrap color="red" text-center>{{ event.Description_it }}</p>
          <p class="promotion" text-wrap color="red" text-center> {{ 'EVENTS.FROM' | translate }} {{ event.FormatedStartDate }} {{ 'EVENTS.TO' | translate }} {{ event.FormatedEndDate }} </p>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
